<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Productos</title>
</head>
<body>
    <h1>Crear Nuevo Producto</h1>
    <form action="/users" method="POST">
        
        <label>Nombre: <input type="text" name="nombre" required></label><br>
        <label>Precio: <input type="number" name="precio" required></label><br>
        <label>Imagen: <input type="text" name="imagen" required></label><br>
        <label>Detalle: <input type="text" name="detalle" required></label><br>
        <button type="submit">Crear</button>
    </form>
    <a href="/">Regresar</a>
</body>
</html>