<form method="POST" action="/calcular">
    <label for="num1">Primer valor numerico:</label>
    <input type="number" name="num1" id="num1" placeholder="Escribe un numero">
    <br>
    <label for="num2">Segundo valor numerico:</label>
    <input type="number" name="num2" id="num2" placeholder="Escribe un numero">
    <br>
    <label for="oper">Seleccione operacion:</label>
    <select name="op" id="lista">
        <option value="1">Sumar</option>
        <option value="2">Restar</option>
        <option value="3">Multiplicar</option>
        <option value="4">Dividir</option>
    </select>
    <button type="submit">Calcular</button>
    <button type="reset">Limpiar</button>
</form>